* {
    margin: 0;
    padding: 0;
}

body{
    
    overflow: hidden;
}

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 290px;
    max-width: 2530px;
    width: 100%;
    height: 100vh;
    background-image: url("nvkz-img.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper__img{
    position: absolute;
}

.form {
    display: flex;
    width: 376px;
    height: 570px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    border: 5px groove #cbf50e;
    border-radius: 20%;
}

input{
    display: block;
    width: 75%;
    height: 50px;    
}

img{
    width: 70%;
    height: 40%;
    border-radius: 10%;
    box-shadow: 3px  5px 3px #000
}

#gosNumber1{
    border-radius: 10%;
    border-color: #7cfad0;
    text-align: center;
    font-size: 26px;
}

#checkForm{
    width: 50%;
    height: 100px;
    align-self: flex-end;
    border-color:#000000;
    border-radius: 10%;
    background-color: #cbf50e;
    color: #000000;
    font-size: 28px;
}